<header class="bg-green-400">
  <nav class="flex items-center justify-between flex-wrap bg-green-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
      <span class="font-semibold text-xl tracking-tight">Social Media</span>
    </div>
    <div class="block lg:hidden">
      <button (click)="toggleNav()" class="flex items-center px-3 py-2 border rounded text-green-200 border-green-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="hidden lg:block w-full flex-grow lg:flex lg:items-center lg:w-auto">
      <div  class="text-sm lg:flex-grow">
        <a href="/home" class="block mt-4 lg:inline-block lg:mt-0 text-green-200 hover:text-white mr-4">Home</a>
        <a href="/profile" class="block mt-4 lg:inline-block lg:mt-0 text-green-200 hover:text-white mr-4">Profile</a>
      </div>
      <div>
        <a *ngIf="showLogin" href="/login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-green-500 hover:bg-white mt-4 lg:mt-0">Login</a>
        <a *ngIf="showLogin" href="/registration" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-green-500 hover:bg-white mt-4 ml-2 lg:mt-0">Registration</a>
        <a *ngIf="!showLogin" (click)="logout()" href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-green-500 hover:bg-white mt-4 lg:mt-0">Logout</a>
      </div>
    </div>
    <div *ngIf="showNavMenu" class="block md:hidden lg:hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div  class="text-sm lg:flex-grow">
        <a href="/home" class="block mt-4 lg:inline-block lg:mt-0 text-green-200 hover:text-white mr-4">Home</a>
        <a href="/profile" class="block mt-4 lg:inline-block lg:mt-0 text-green-200 hover:text-white mr-4">Profile</a>
      </div>
      <div>
        <a *ngIf="showLogin" href="/login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-green-500 hover:bg-white mt-4 lg:mt-0">Login</a>
        <a *ngIf="showLogin" href="/registration" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-green-500 hover:bg-white mt-4 ml-2 lg:mt-0">Registration</a>
        <a *ngIf="!showLogin" (click)="logout()" href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-green-500 hover:bg-white mt-4 lg:mt-0">Logout</a>
      </div>
    </div>
  </nav>
</header>


<main class="bg-gray-100 p-10">
  <div class="container mx-auto flex">
    <div class="w-0 lg:w-3/12">
    </div>
    <form (submit)="submitStatus()" [formGroup]="statusForm" class="w-full md:w-6/12">
      <h2 class="text-left text-3xl mb-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
        </svg>
        Write a status
      </h2>
      <textarea formControlName="details" class="border-0 block m-2 w-full h-20 md:h-40" required></textarea>

      <div formGroupName="location">
        <select formControlName="id" class="w-full md:w-4/12 rounded m-2" required>
          <option value="" disabled>-- Select Location --</option>
          <option *ngFor="let location of locationList" value="{{location.id}}">{{location.location}}</option>
        </select>
      </div>

      <div class="m-2">
        <div *ngFor="let enum of privacyEnum | keyvalue" class="inline">
          <input formControlName="privacy" type="radio" value="{{enum.key}}" required>
          <label class="pr-2">
            <svg *ngIf="enum.key == privacyEnum.PUBLIC" xmlns="http://www.w3.org/2000/svg" class="inline h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <svg *ngIf="enum.key == privacyEnum.PRIVATE" xmlns="http://www.w3.org/2000/svg" class="inline h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
            {{enum.value}}
          </label>
        </div>
        <br>
      </div>

      <button type="submit" class="w-full md:w-auto bg-green-400 rounded text-white font-bold m-2 px-8 py-3 text-2xl">{{statusId ? 'UPDATE' : 'POST'}}</button>
      <button *ngIf="statusId" type="button" (click)="deleteStatus()" class="w-full md:w-auto bg-red-400 rounded text-white font-bold m-2 px-8 py-3 text-2xl">DELETE</button>
      <div *ngIf="showSuccess" class="bg-green-200 p-4">Success</div>
      <div *ngIf="showError" class="bg-red-200 p-4">Error</div>
    </form>
  </div>
</main>

<footer>
  <div class="text-center text-xl p-2">&copy; 2021. All right reserved by <a class="text-green-500" href="fb.com/basharkhan6">Abul Basar</a></div>
</footer>
