<div class="flex h-screen bg-green-500">
  <div class="w-full max-w-xs m-auto bg-green-100 rounded p-5">
    <header>
      <a href="/"><div class="text-2xl text-center font-bold mb-5">
        <span class="font-semibold text-xl tracking-tight">Social Media</span>
      </div></a>
    </header>
    <form [formGroup]="registrationFormGroup" (submit)="submitRegistrationForm()">
      <div>
        <label class="block mb-2 text-green-500" for="name">Full Name</label>
        <input formControlName="name" class="w-full p-2 mb-6 text-green-600 border-b-2 border-green-400 outline-none focus:bg-gray-300" type="text" name="name">
      </div>
      <div>
        <label class="block mb-2 text-green-500" for="email">Email</label>
        <input formControlName="email" class="w-full p-2 mb-6 text-green-600 border-b-2 border-green-400 outline-none focus:bg-gray-300" type="text" name="email">
      </div>
      <div>
        <label class="block mb-2 text-green-500" for="password">Password</label>
        <input formControlName="password" class="w-full p-2 mb-6 text-green-600 border-b-2 border-green-400 outline-none focus:bg-gray-300" type="password" name="password">
      </div>
      <div>
        <input class="w-full bg-green-500 hover:bg-red-700 text-white font-bold py-2 px-4 mb-6 rounded" type="submit" value="Register">
        <div *ngIf="showError" class="bg-red">Ops!! Error Happens!</div>
      </div>
    </form>
    <footer>
<!--      <a class="text-green-600 hover:text-red-700 text-sm float-left" href="#">Forgot Password?</a>-->
      <a class="text-green-600 hover:text-red-700 text-sm float-right" href="/login">Login</a>
    </footer>
  </div>

</div>
